.myCourses {
    width: fit-content;
    font-weight: bolder;
    font-size: large;
    /* text-decoration: underline; */
    padding-bottom: 10px;
    border-bottom: 5px #FF7B40 solid;
}

.coursesContainer {

}