#rowContainer{
  display: flex;
  flex-direction: row;
  align-items : center;
}

.footerLogoTitleConteiner{
  padding-bottom: 15px;
}

.footerLink{
  font-size: smaller;
  color: white;
}

.footerContainer{
  background-color:#3A6B35; 
  color:white;
  padding:30px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footerContainerDiffer{
  background-color:#a4cba3; 
  color:black;
  padding:30px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#footerIcon{
  font-size:2rem;
  color : white;
}

.footerLogo{
  width: 2rem;
}

.footerTitle{
  font-weight: 900;
  font-size: 25px;
  padding: 0 0 0 1rem;
}

.footerRightPart{
  text-align: left;
  padding-left: 10px;
}

@media only screen and (max-width: 767px) {
  .footerTitle{
    font-size: 1rem;
  }

  .footerMark{
    font-size: 10px;
  }

  .footerRightPart {
    text-align: center;
    margin-bottom: 20px;
  }

  #footerIcon{
    width: 1.5rem;
  }

  .footerContainer{
    flex-direction: column;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }

  .socmed-container {
    display: flex;
    justify-content: center;
  }
}